@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-bg: #1F1B24;
    --secondary-bg: #27232F;
    --accent-color: #BB86FC;
    --text-color: #E1E1E6;
    --secondary-text-color: #A1A1A6;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-bg);
    color: var(--text-color);
    overflow-x: hidden;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-bg);
    text-align: center;
    margin: 0;
}

.home-header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
    background-color: var(--primary-bg);
}

.home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.home-logo {
    height: 150px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.home-main h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.home-main p {
    font-size: 24px;
    margin-bottom: 40px;
    color: var(--secondary-text-color);
}

.home-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    background-color: var(--accent-color);
    border: none;
    color: var(--primary-bg);
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    text-decoration: none;
}

.button:hover {
    background-color: #9b65e7;
}

.home-footer {
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
    background-color: var(--primary-bg);
    color: var(--secondary-text-color);
    position: absolute;
    bottom: 0;
    text-align: center;
}
