@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-bg: #1F1B24; /* Darker background */
    --accent-color: #BB86FC; /* Main accent color */
    --text-color: #E1E1E6; /* Main text color */
    --input-bg: #3A3A3C; /* Background for input fields */
    --input-border: #6A6A6C; /* Border color for input fields */
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--primary-bg);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.institution-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.institution-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.institution-logo {
    height: 190px;
    margin-bottom: 20px;
}

.institution-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.institution-input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    background-color: var(--input-bg);
    color: var(--text-color);
    font-size: 16px;
}

.institution-button {
    width: 300px;
    padding: 10px;
    margin: 20px 0;
    background-color: var(--accent-color);
    border: none;
    color: var(--text-color);
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.institution-button:hover {
    background-color: #9b65e7;
}

.institution-signup {
    color: var(--text-color);
}

.institution-signup a {
    color: var(--accent-color);
    text-decoration: none;
}

.institution-signup a:hover {
    color: #9b65e7;
}

.institution-footer {
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
    background-color: var(--primary-bg);
    color: var(--secondary-text-color);
    position: absolute;
    bottom: 0;
    text-align: center;
}

.success-message {
    color: green;
    margin-top: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}