@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-bg: #1F1B24;
    --accent-color: #BB86FC;
    --text-color: #E1E1E6;
    --input-bg: #3A3A3C;
    --input-border: #6A6A6C;
    font-family: 'Roboto', sans-serif;
    --button-hover-bg: #9B65E7; /* Define button hover color for consistency */
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--primary-bg);
    color: var(--text-color);
    padding: 0 20px;
}

.dashboard-header {
    text-align: center;
    margin-bottom: 40px;
}

.dashboard-logo {
    height: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.dashboard-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.dashboard-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
    gap: 10px; /* Adds consistent space between buttons */
}

.dashboard-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-size: 1.2rem;
    color: var(--text-color);
    background-color: var(--accent-color);
    border: 1px solid var(--input-border);
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    transition: background-color 0.3s ease;
}

.dashboard-option:hover {
    background-color: var(--button-hover-bg);
}

.arrow {
    font-size: 1.5rem;
}

.dashboard-footer {
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
    color: var(--text-color);
}
