@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-bg: #1F1B24; /* Background color for the container */
    --accent-color: #BB86FC; /* Main accent color for the button */
    --text-color: #E1E1E6; /* Main text color */
    --button-text-color: #1F1B24; /* Button text color */
    --button-bg: #BB86FC; /* Button background color */
    --button-hover-bg: #9B65E7; /* Button hover background color */
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--primary-bg);
    color: var(--text-color);
    overflow-x: hidden;
}

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--primary-bg);
    text-align: center;
}

.error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-content h1 {
    font-size: 96px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.error-content h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.error-content p {
    font-size: 20px;
    margin-bottom: 40px;
    color: var(--text-color);
}

.error-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-bg);
    color: var(--button-text-color);
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.error-button:hover {
    background-color: var(--button-hover-bg);
    transform: translateY(-3px);
}

.error-button:active {
    transform: translateY(1px);
}

.error-button .arrow {
    margin-left: 10px;
    transition: margin-left 0.3s ease;
}

.error-button:hover .arrow {
    margin-left: 15px;
}

.error-footer {
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
    background-color: var(--primary-bg);
    color: var(--secondary-text-color);
    position: absolute;
    bottom: 0;
    text-align: center;
}

